.calculator{
  max-width: 250px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #fafafa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}
.button-container{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 40px 40px 40px 40px;
  gap: 10px;
  margin-left: 10px;
}
.button-container button{
  border-radius: 10px;
}
.display{
 display: grid;
 justify-items: center;
 margin-bottom: 10px;
 gap:10px;
}
